<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Competitors - Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="bg-gray-50">
<header th:replace="~{layout/header :: header}"></header>
<main class="custom-container">
    <h2 class="text-3xl text-center leading-[3.75rem] font-bold font-palanquin">All projects</h2>
    <div class="mt-8 flex justify-between items-center gap-2 px-4">
        <form class="max-w-md">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="default-search"
                       class="block w-80 py-3 px-12 ps-10 default-input"
                       placeholder="Search projects..." required
                       maxlength="22"
                />
                <button type="submit"
                        class="primary-button p-[0.45rem] absolute end-2.5 bottom-[0.20rem]">
                    Search
                </button>
            </div>
        </form>

        <div>
            <a class="secondary-button px-3 py-2.5 overflow-x-auto" th:href="@{/ui/projects/create}">Create a new
                project</a>
        </div>
    </div>
    <div>
        <div class="mt-8 grid grid-cols-[repeat(auto-fill,_minmax(630px,1fr))] gap-6">

            <div th:each="project: ${allProjects}"
                 class="flex flex-col items-center max-h-52 bg-white border border-gray-200 rounded-lg shadow-md md:flex-row">
                <img class="object-cover w-full rounded-t-lg h-52 md:w-48 md:rounded-none md:rounded-s-lg"
                     th:src="${project.logo != null} ? ${project.logo.url} : '/default-image.jpg'"
                     alt="Project logo"
                >
                <div class="flex flex-col justify-between p-5 leading-normal">
                    <h5 th:text="${project.name}" class="mb-3 text-2xl font-bold tracking-tight text-gray-900"></h5>
                    <p th:text="${project.shortDescription}" class="mb-2 font-normal">
                    </p>
                    <p class="group text-gray-600 slow-animation-300 ease-in-out">
                        Made by: <a th:text="${project.creator.fullName}" href="/ui/main"
                                    class="slow-animation-300 group-hover:underline ease-out"></a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>