<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Competitors - Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="bg-gray-50">
<header th:replace="~{layout/header :: header}"></header>
<main class="p-5 md:w-[85%] md:p-0 mx-auto min-h-[95vh]">
    <h2 class="text-3xl text-center leading-[3.75rem] font-bold font-palanquin">All projects</h2>
    <div class="mt-8 flex justify-between items-center gap-2 px-4">
        <form class="max-w-md">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text"
                       id="default-search"
                       class="block w-80 py-3 px-12 ps-10 default-white-input"
                       placeholder="Search projects..."
                       required
                       maxlength="22"
                />
                <button type="submit"
                        th:attr="onclick=|searchProject(event)|"
                        class="primary-button p-[0.45rem] absolute end-2.5 bottom-[0.20rem]">
                    Search
                </button>
            </div>
        </form>

        <div>
            <a class="secondary-white-button px-3 py-2.5 overflow-x-auto" th:href="@{/ui/projects/create}">Create a new
                project</a>
        </div>
    </div>
    <div>
        <div class="mt-8 grid grid-cols-1 gap-6">
            <div th:each="project: ${projectsPage.content}"
                 class="flex flex-col items-center max-h-52 bg-white rounded-lg shadow-md md:flex-row">
                <img class="object-cover w-full rounded-t-lg h-52 md:w-48 md:rounded-none md:rounded-s-lg"
                     th:src="${project.logo != null} ? ${project.logo.url} : '/default-image.jpg'"
                     alt="Project logo"
                >
                <div class="flex flex-col justify-between p-5 leading-normal">
                    <h5 th:text="${project.name}" class="mb-3 text-2xl font-bold tracking-tight text-gray-900"></h5>
                    <p th:text="${project.shortDescription}" class="mb-2 font-normal break-all">
                    </p>
                    <p class="group text-gray-600 slow-animation-300 ease-in-out">
                        Made by: <a th:text="${project.creator.fullName}" href="/ui/main"
                                    class="slow-animation-300 group-hover:underline ease-out"></a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</main>

<div class="mt-8 p-5 md:w-[85%] md:p-0 mx-auto flex justify-center">
    <div aria-label="page navigation">
        <div class="inline-flex -space-x-px text-sm">
            <div>
                <a href="/"
                   id="previous-page-pagination"
                   th:class="'pagination flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 ' + ${previousPage == null ? 'pointer-events-none' : 'pointer-events-auto'}"
                >Previous</a>
            </div>
            <div th:each="pageNumber: ${pageNumbers}" class="inline-flex">
                <div>
                    <a href="/" th:text="${pageNumber.value}"
                       th:attr="onclick=|changePage('${pageNumber.value}')|"
                       th:class="'pagination flex items-center justify-center px-3 h-8 leading-tight border border-gray-300 ' + ${pageNumber.active ? 'bg-gray-100 text-gray-600 hover:bg-gray-300 pointer-events-none' : 'bg-white text-gray-500 hover:bg-gray-100 hover:text-gray-700'}"></a>
                </div>
            </div>
            <div>
                <a href="/"
                   id="next-page-pagination"
                   th:class="'pagination flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 ' + ${nextPage == null ? 'pointer-events-none' : 'pointer-events-auto'}"
                >Next</a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
      /*<![CDATA[*/
      document.querySelectorAll('.pagination').forEach(element => element.addEventListener('click', (event) => event.preventDefault()));
      const previousPageValue = /*[[${previousPage}]]*/ null;
      const nextPageValue = /*[[${nextPage}]]*/ null;

      document.getElementById('next-page-pagination').addEventListener('click', (event) => {
        event.preventDefault();
        if (nextPageValue) {
          changePage(nextPageValue);
        }
      });

      document.getElementById('previous-page-pagination').addEventListener('click', (event) => {
        event.preventDefault();
        if (previousPageValue !== null && previousPageValue !== undefined) {
          changePage(previousPageValue);
        }
      });

      function changePage(pageNumber) {
        if (pageNumber) {
          const urlParams = new URLSearchParams(window.location.search);
          urlParams.set('page', (pageNumber - 1));
          window.location.search = urlParams;
        }
      }

      document.getElementById('default-search').value = new URLSearchParams(window.location.search).get('search') || '';
      function searchProject(event) {
        event.preventDefault();
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('search', document.getElementById('default-search').value);
        window.location.search = urlParams;
      }

      /*]]>*/
    </script>
</div>

<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>