<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Competitors - Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="bg-gray-50">
<header th:replace="~{layout/header :: header}"></header>
<main class="p-5 md:w-[85%] md:p-0 mx-auto min-h-screen">
    <div class="page-block">
        <div class="flex justify-between">
            <div class="">

            </div>
        </div>
    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>