<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitors - Admin page</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        #reportModal {
            backdrop-filter: blur(5px); /* Adds a subtle blur effect to the background */
        }

        #reportModal .bg-white {
            animation: fadeIn 0.3s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.9);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
    </style>
</head>
<body class="bg-gray-50">
<header th:replace="~{layout/header :: header}"></header>

<main class="custom-container">
    <section class="page-block">
        <h2 class="text-3xl text-center leading-[3.75rem] font-bold font-palanquin">
            Admin panel
        </h2>

        <div> <!-- table with all reports -->
            <div class="page-block">
                <div class="relative overflow-x-auto">
                    <div class="flex justify-center">
                        <h3 class="text-2xl text-center font-bold font-mono">
                            All reports
                        </h3>
                    </div>
                    <table class="mt-8 w-full text-sm text-left rtl:text-right">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Topic
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Approve Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Description
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Admin comment
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="report : ${allReports}"
                            th:attr="data-report_id=${report.getId()}"
                            class="reportRow bg-white border-b cursor-pointer">
                            <th id="topic" scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                <span th:text="${report.topic}"></span>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                <span th:text="${report.reportStatus}"></span>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                <span th:text="${report.approveDate != null ? report.approveDate : 'Not Approved'}"></span>
                            </th>
                            <td class="px-6 py-4">
                                <span th:text="${report.description}"></span>
                            </td>
                            <td class="px-6 py-4">
                                <span th:text="${report.adminComment}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

<div id="reportModal"
     class="fixed inset-0 border-gray-300 shadow-hover bg-opacity-80 flex justify-center items-center hidden">
    <div class="bg-white p-8 rounded-lg shadow-lg w-2/3 max-w-3xl relative">
        <form th:action="@{/ui/reports/approve-reopen-report}" method="post">
            <div id="modalContent" class="space-y-6">
                <h3 id="modalTopic" class="text-3xl font-bold text-center mb-6">Report</h3>
                <div class="flex w-full justify-between">
                    <p id="modalStatus" class="w-3/4 text-lg font-bold"></p>
                    <p id="modalApproveDate" class="text-gray-700 italic w-3/4"></p>
                </div>
                <div class="flex items-start flex-col">
                    <p class="font-semibold text-gray-700 w-1/4">Description: </p>
                    <p id="modalDescription" class="text-gray-800 w-3/4"></p>
                </div>
                <div class="flex flex-col space-y-2">
                    <label for="commentInput" class="font-semibold text-gray-700">Add Comment: </label>
                    <input type="hidden" name="reportId" id="reportIdInput"/>
                    <textarea name="comment" id="commentInput"
                              class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                              rows="4" placeholder="Enter your comment..."></textarea>
                </div>
            </div>
            <div class="flex justify-around items-stretch space-x-4 mt-6 gap-2">
                <button type="submit" name="action" value="approve" style="background-color: lightgreen; color: black"
                        id="approveReport"
                        class="px-2 py-1 rounded-lg">
                    Approve
                </button>
                <button type="submit" name="action" value="reopen" style="background-color: orange; color: black"
                        id="reopenReport"
                        class="px-2 py-1 rounded-lg">
                    Reopen
                </button>
                <button type="reset" style="background-color: coral; color: black"
                        class="closeModal px-2 py-1 rounded-lg">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>


<footer th:replace="~{layout/footer :: footer}"></footer>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const reportRows = document.querySelectorAll(".reportRow");
        const modal = document.getElementById("reportModal");
        const closeModalBtns = document.querySelectorAll(".closeModal");

        reportRows.forEach((reportRow) => {
            const reportId = reportRow.dataset.report_id;
            const reportContent = reportRow.children
            const status = reportContent.item(1).innerText
            reportContent.item(1).style.color = status === "APPROVED" ? "green" : "orange"
            const topic = reportContent.item(0).innerText
            const approveDate = reportContent.item(2).innerText
            const description = reportContent.item(3).innerText
            const reportComment = reportContent.item(4).innerText

            reportRow.addEventListener('click', function () {
                document.getElementById("modalTopic").textContent = topic
                document.getElementById("modalStatus").textContent = status
                document.getElementById("modalApproveDate").textContent = approveDate
                document.getElementById("modalDescription").textContent = description

                document.getElementById('reportIdInput').value = reportId;
                document.getElementById('commentInput').value = reportComment;

                modal.classList.remove("hidden");
            });
        })

        closeModalBtns.forEach((row) => {
            row.addEventListener("click", function () {
                modal.classList.add("hidden")
            })
        })
    });


</script>
</body>
</html>