<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Competitors - Not found error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="bg-gray-50">
<header th:replace="~{layout/header :: header}"></header>

<main class="custom-container">
    <div class="page-block flex justify-center items-center">
        <p class="text-4xl font-bold">
            Not Found!
        </p>
    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>